@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch+Pop&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Honk&family=Rubik+Glitch+Pop&display=swap');

:root {
    --cor-de-fundo: #1E1E1E;
    --verde: #6FFF57;
    --branco: #ff1403;
    --botao-ativo: #3A375E;
    --botao-inativo: rgba(58, 55, 94, 0.5);
    --texto-fundo: rgba(58, 55, 94, 0.3);

}

body {
    background-image: url('felipe.jpeg');

    width: 1000%;
    background-color: var(--cor-de-fundo); 
    color: var(--branco);
    font-family: "Rubik Glitch Pop", system-ui;
}

.conteudo-principal {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: right;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}
    
.titulo-principal {
    text-align: left;
    width: 100%;
    font-size: 32px;
}

.botao {
    font-family: "Honk", system-ui;
    background-color: var(--verde);
    color: var(--branco);
    display: flex;
    justify-content: right;
    padding: 1em;
    font-size: 32px;
    align-items: right;
    width: 80%;

    border-bottom: 4px solid var(--botao-ativo); 
    border-left: 2px solid var(--botao-ativo); 
    border-right: 2px solid var(--botao-ativo); 
    border-top: 2px solid var(--botao-ativo);

}